<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CUDAfy.NET" version="1.29.5576.13786" targetFramework="net45" />
  <package id="Microsoft.CodeAnalysis.FxCopAnalyzers" version="2.9.7" targetFramework="net462" developmentDependency="true" />
  <package id="Microsoft.CodeAnalysis.VersionCheckAnalyzer" version="2.9.7" targetFramework="net462" developmentDependency="true" />
  <package id="Microsoft.CodeQuality.Analyzers" version="2.9.7" targetFramework="net462" developmentDependency="true" />
  <package id="Microsoft.NetCore.Analyzers" version="2.9.7" targetFramework="net462" developmentDependency="true" />
  <package id="Microsoft.NetFramework.Analyzers" version="2.9.7" targetFramework="net462" developmentDependency="true" />
  <package id="Shouldly" version="3.0.2" targetFramework="net462" />
  <package id="StyleCop.Analyzers" version="1.1.118" targetFramework="net462" developmentDependency="true" />
</packages>